.locationInput {
    width: 110px;
}

.locationInputArea {
    display: table-cell;
}

#layerWidget {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10000;
    background-color: white;
    opacity: 0.7;
    padding: 10px;
    display: none;
}

ul, li{
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding-right: 10px;
    padding-left: 0px;
}

#info {
    display: none;
    font-size: x-large;
}

#infoOK {
    float: right;
}

#cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    display: none;
}

#configWidget {
    position: relative;
    background-color: lightgray;
    color: black;
    height: 14em;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: rgba(150, 150, 150, 0.5);
    border-style: solid;
}

#configWidgetForm {
    position: relative;
    margin: 20px;
}

#configWidgetFormBingKey {
    width: 100%;
}

#configWidgetFormLocation {
    margin-top: 20px;
    display: table;
    width: 100%;
}

#confirmConfigButton {
    margin-right: 22px;
    float: right;
}