.locationInput {
    width: 110px;
}

.locationInputArea {
    display: table-cell;
}

#layerWidget {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10000;
    background-color: white;
    opacity: 0.85;
    padding: 10px;
    /*display: none;*/
}

ul, li{
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding-right: 10px;
    padding-left: 0px;
}

.layerWidgetHeaders{
    font-weight: 600;
    color: black
}

#info {
    display: none;
    font-size: x-large;
}

#infoOK {
    float: right;
}

#cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.95;
    position: absolute;
    display: none;
    z-index: 10001;
}

.centerWidget {
    position: relative;
    background-color: lightgray;
    color: black;
    height: 14em;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    border: 1px  rgba(150, 150, 150, 0.5) solid;
}

.widgetForm {
    position: relative;
    margin: 20px;
}

#configWidgetFormBingKey {
    width: 100%;
}

#configWidgetFormLocation {
    margin-top: 20px;
    display: table;
    width: 100%;
}

.confirmButton {
    margin-right: 22px;
    float: right;
}

.cancelButton {
    float: right;
}

.centerText{
    text-align: center;
}

#spLayersList{
    border-bottom: solid lightgray 1px;
    padding-bottom: 6px;
}

#layerWidgetIcon{
    float: right;
}

#layerAdminToolbar{
    padding-top: 6px;
    display: none;
}
    #layerAdminToolbar > i {
        float: right;
    }
#workingWidget{
    display: none;
}